body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

pre.prettyprint {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout-warning {
  border-left-color: #f2dede;
}

.tab-pane {
  padding: 15px;
}
